
/*Tabla usuarios*/
#busqueda{
    margin-left: 30%;
    margin-right: 30%;
    width: 100%;
}

.tabla{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}
.tabla, .tabRow, .tabCel{
    margin-top: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;  
}

.tabla, .tabRow2, .tabCel{
    margin-top: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;  
}

.tabla, .tabRow2, .tabCel2{
    margin-top: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;  
}

.tabHeader{
    background-color: #ccc;
    border: 2px solid black;
    border-collapse: collapse;
}

.tabla .tabRow:hover{
    background-color: #99afe9;
}

.remarcar{
    font-weight: bolder;
}
.nuevoUser{
    background-color: #555;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 10%;
}
.nuevoUser:hover{
    background-color: black;
}

.jumbotron {
    height: 280px;
}

.tabCel li{
    text-align: left;
    margin-left: 10px;
}
.errorMessage{
    color: red;
}