.CodeMirror{

    width: 100%;
    
    
}

#tabGral{
    background-color: #d6d8d9;
    list-style-type: none;
    width: 100%;
}

#tabGral li{
    display: inline-block;
}

#tabGral li a{
    /*width: 50px;*/
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    
}

#tabGral li .eliminar{
    text-align: center;
    font-weight: bolder;
}

#tabGral li .agrega{
    /*width:2%;*/
    text-align: center;
    font-weight: bold;
}

#tabGral li .agrega:hover{
    background-color: #b1dfbb;
}

#tabGral li .eliminar:hover{
   background-color: #f1b0b7;
}

#tabGral li:hover{
    background-color: #9fcdff;
}

.log{
    background-color: black;
    overflow-y: scroll;
    height:100px;
    border-style: ridge;
    border-color: black;
    width: 100%;
    position: fixed;
    z-index: 3;
    bottom: 0;
    /*overflow-x: hidden;*/
    padding: 8px 0;
}

.actionMessage{
    color: #34ce57;
}
.errorMessage{
    color: red;
}

table{
    width: 100%;
}

.modal-body{
    margin-bottom: 140px;
    /*color: #ffe8a1*/
}
