body{
  font-family: 'Martel', serif;
  margin: 0;
  background-color: #57bc90;
}

input{
  font-family: 'Martel', serif;
}

.intro{
  padding: 100px 20px;
  text-align: center;
}

.intro .title{
  font-size: 48px;
  margin-bottom: 100px;
  color: #fff;
}

.intro .check-me-out{
  margin-top: 100px;
  font-size: 18px;
  color: #fff;
}

.intro .check-me-out a{
  text-decoration: none;
  color: #015249;
}

.intro .check-me-out a:hover{
  text-decoration: underline;
}

.why{
  background-color: #77cdd4;
  padding: 50px 20px;
  color: #fff;
}

.why .title{
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
}

.why .content{
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

.how-it-works{
  background-color: #d8d8d8;
  padding: 50px;
}

.how-it-works .title{
  margin-bottom: 25px;
  font-size: 20px;
  color: #555;
}

.how-it-works .content{
  margin-bottom: 50px;
  font-size: 16px;
  color: #666;
}

.how-it-works .code{
  font-family: 'inconsolata';
  background-color: #fff;
  padding: 50px;
  margin: 0 auto;
  width: 600px;
  border-radius: 3px;
}

.how-it-works .code .comment{
  color: #aaa;
}

.how-it-works .code .string{
  color: #57bc90;
}

.how-it-works .code .function{
  color: #008bb9;
}

.themes {
  background-color: #77cdd4;
  padding: 50px 20px 100px;
  color: #fff;
}

.themes .title{
  font-size: 20px;
  text-align: center;
}

.themes .sub-title{
  font-size: 12px;
  text-align: center;
  font-style: italic;
  margin-bottom: 50px;
}

.themes a{
  color: #fff;
  text-decoration: none;
}

.themes a.active{
  text-decoration: underline;
}

.themes a:hover{
  text-decoration: underline;
}

.themes .container{
  max-width: 600px;
  margin: 0 auto;
}

#bootstrap, #foundation, #materialize{
  display: none;
}

.autocomplete-materialize{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
  color: #fff;
}

.autocomplete-materialize::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
}
.autocomplete-materialize::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.5);  
}

.autocomplete-materialize:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.5);  
}

.autocomplete-materialize:focus{
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

.autocomplete-foundation{
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  margin: 0 0 1rem;
  font-size: 16px;
  font-family: inherit;
  color: #0a0a0a;
  background-color: #fefefe;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  border-radius: 0;
  -webkit-transition: -webkit-box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.autocomplete-foundation:focus{
  border: 1px solid #8a8a8a;
  background-color: #fefefe;
  outline: none;
  -webkit-box-shadow: 0 0 5px #cacaca;
  box-shadow: 0 0 5px #cacaca;
  -webkit-transition: -webkit-box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

.autocomplete-bootstrap{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.autocomplete-bootstrap:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


.thanks{
  padding: 100px 20px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.thanks a{
  color: #fff;
  text-decoration: none;
}

.thanks a:hover{
  text-decoration: underline;
}