

form{
    margin-left: auto; /*Fija margen de la izquierda al centro*/
    margin-right: auto;/*Fija margen de la derecha al centro*/
    display: inline-block; /*muestra el elemento enuna caja quitando grandes espacios que no se ocupan*/
    
}

.banner{

    /*background-image: url(../images/parallax.png);*/
    height: 100px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 10px ;
}

.jumbotron-fluid{
    padding-top: 20px;
}

ul{
    list-style-type: none;
}
.images-bar{
    display: list-item;
}

.ipn{
    float: left;
    margin-left: 50px;
}

.escom{
    float: right;
    margin-right: 50px;
}